@font-face {
    font-family: ceraFontRegularItalic;
    src: url(./cera-font/CeraProRegularItalic.ttf);
}

@font-face {
    font-family: ceraFontMedium;
    src: url(./cera-font/CeraProMedium.ttf);
}

@font-face {
    font-family: ceraFontLight;
    src: url(./cera-font/CeraProLight.ttf);
}

@font-face {
    font-family: ceraFontBlack;
    src: url(./cera-font/CeraProBlack.ttf);
}

@font-face {
    font-family: ceraFontBlackItalic;
    src: url(./cera-font/CeraProBlackItalic.ttf);
}